.side2 {
    position: absolute;
    height: 100vh;
    width: 10vh;
    left: 10%;
    background: rgb(34, 34, 119);
}

.side1 {
    position: absolute;
    height: 100vh;
    width: 10vh;
    right: 10%;
    background: rgb(34, 34, 119);
}

.about-me {
    position: absolute;
    left: 29%;
    bottom: 5%;
}

.projects {
    position: absolute;
    right: 29%;
    bottom: 5%;
}

.description1 {
    position: absolute;
    font-size: 12px;
    bottom: 13%;
    left: 25% 
    

}

 .descriptionA {
     position: absolute;
     bottom: 1%;
     left: 29%
}

.descriptionP {
    position: absolute;
    bottom: 1%;
    right: 29%
}

.animation {
    position: absolute;
    left: 18%
}

.end-of-animation {
    position: absolute;
    right: 18%;
    bottom: 10%
}
